In [1]:
import tweepy, sys, os, logging, json

import pandas as pd
import numpy as np

import pickle

from tweet_clean import deefify2

In [2]:
pd.set_option('display.max_columns', 500)

Below I am loading json files for each of my 391 json files. Once I am done with that:
 - munge all using deefify2
 - merge all files
 - remove any duplicate tweet IDs
 
Then that's my final dataframe with all data. From there I can select the data I want to run my graph

In [3]:
def create_df(json_filename):
    # inputs a json file, converts to json object, then runs the data clean function
    # will need to loop through all json files, and then merge the dataframes
    with open(json_filename) as json_file:
        tweets = json.load(json_file)
    return deefify2(tweets)

Creating a dataframe of each individual data file, then I will merge with one long concat call

In [4]:
df_0=create_df('tweets0.json')
df_1=create_df('tweets1.json')
df_2=create_df('tweets2.json')
df_3=create_df('tweets3.json')
df_4=create_df('tweets4.json')
df_5=create_df('tweets5.json')
df_6=create_df('tweets6.json')
df_7=create_df('tweets7.json')
df_8=create_df('tweets8.json')
df_9=create_df('tweets9.json')
df_10=create_df('tweets10.json')
df_11=create_df('tweets11.json')
df_12=create_df('tweets12.json')
df_13=create_df('tweets13.json')
df_14=create_df('tweets14.json')
df_15=create_df('tweets15.json')
df_16=create_df('tweets16.json')
df_17=create_df('tweets17.json')
df_18=create_df('tweets18.json')
df_19=create_df('tweets19.json')
df_20=create_df('tweets20.json')
df_21=create_df('tweets21.json')
df_22=create_df('tweets22.json')
df_23=create_df('tweets23.json')
df_24=create_df('tweets24.json')
df_25=create_df('tweets25.json')
df_26=create_df('tweets26.json')
df_27=create_df('tweets27.json')
df_28=create_df('tweets28.json')
df_29=create_df('tweets29.json')
df_30=create_df('tweets30.json')
df_31=create_df('tweets31.json')
df_32=create_df('tweets32.json')
df_33=create_df('tweets33.json')
df_34=create_df('tweets34.json')
df_35=create_df('tweets35.json')
df_36=create_df('tweets36.json')
df_37=create_df('tweets37.json')
df_38=create_df('tweets38.json')
df_39=create_df('tweets39.json')
df_40=create_df('tweets40.json')
df_41=create_df('tweets41.json')
df_42=create_df('tweets42.json')
df_43=create_df('tweets43.json')
df_44=create_df('tweets44.json')
df_45=create_df('tweets45.json')
df_46=create_df('tweets46.json')
df_47=create_df('tweets47.json')
df_48=create_df('tweets48.json')
df_49=create_df('tweets49.json')
df_50=create_df('tweets50.json')
df_51=create_df('tweets51.json')
df_52=create_df('tweets52.json')
df_53=create_df('tweets53.json')
df_54=create_df('tweets54.json')
df_55=create_df('tweets55.json')
df_56=create_df('tweets56.json')
df_57=create_df('tweets57.json')
df_58=create_df('tweets58.json')
df_59=create_df('tweets59.json')
df_60=create_df('tweets60.json')
df_61=create_df('tweets61.json')
df_62=create_df('tweets62.json')
df_63=create_df('tweets63.json')
df_64=create_df('tweets64.json')
df_65=create_df('tweets65.json')
df_66=create_df('tweets66.json')
df_67=create_df('tweets67.json')
df_68=create_df('tweets68.json')
df_69=create_df('tweets69.json')
df_70=create_df('tweets70.json')
df_71=create_df('tweets71.json')
df_72=create_df('tweets72.json')
df_73=create_df('tweets73.json')
df_74=create_df('tweets74.json')
df_75=create_df('tweets75.json')
df_76=create_df('tweets76.json')
df_77=create_df('tweets77.json')
df_78=create_df('tweets78.json')
df_79=create_df('tweets79.json')
df_80=create_df('tweets80.json')
df_81=create_df('tweets81.json')
df_82=create_df('tweets82.json')
df_83=create_df('tweets83.json')
df_84=create_df('tweets84.json')
df_85=create_df('tweets85.json')
df_86=create_df('tweets86.json')
df_87=create_df('tweets87.json')
df_88=create_df('tweets88.json')
df_89=create_df('tweets89.json')
df_90=create_df('tweets90.json')
df_91=create_df('tweets91.json')
df_92=create_df('tweets92.json')
df_93=create_df('tweets93.json')
df_94=create_df('tweets94.json')
df_95=create_df('tweets95.json')
df_96=create_df('tweets96.json')
df_97=create_df('tweets97.json')
df_98=create_df('tweets98.json')
df_99=create_df('tweets99.json')
df_100=create_df('tweets100.json')
df_101=create_df('tweets101.json')
df_102=create_df('tweets102.json')
df_103=create_df('tweets103.json')
df_104=create_df('tweets104.json')
df_105=create_df('tweets105.json')
df_106=create_df('tweets106.json')
df_107=create_df('tweets107.json')
df_108=create_df('tweets108.json')
df_109=create_df('tweets109.json')
df_110=create_df('tweets110.json')
df_111=create_df('tweets111.json')
df_112=create_df('tweets112.json')
df_113=create_df('tweets113.json')
df_114=create_df('tweets114.json')
df_115=create_df('tweets115.json')
df_116=create_df('tweets116.json')
df_117=create_df('tweets117.json')
df_118=create_df('tweets118.json')
df_119=create_df('tweets119.json')
df_120=create_df('tweets120.json')
df_121=create_df('tweets121.json')
df_122=create_df('tweets122.json')
df_123=create_df('tweets123.json')
df_124=create_df('tweets124.json')
df_125=create_df('tweets125.json')
df_126=create_df('tweets126.json')
df_127=create_df('tweets127.json')
df_128=create_df('tweets128.json')
df_129=create_df('tweets129.json')
df_130=create_df('tweets130.json')
df_131=create_df('tweets131.json')
df_132=create_df('tweets132.json')
df_133=create_df('tweets133.json')
df_134=create_df('tweets134.json')
df_135=create_df('tweets135.json')
df_136=create_df('tweets136.json')
df_137=create_df('tweets137.json')
df_138=create_df('tweets138.json')
df_139=create_df('tweets139.json')
df_140=create_df('tweets140.json')
df_141=create_df('tweets141.json')
df_142=create_df('tweets142.json')
df_143=create_df('tweets143.json')
df_144=create_df('tweets144.json')
df_145=create_df('tweets145.json')
df_146=create_df('tweets146.json')
df_147=create_df('tweets147.json')
df_148=create_df('tweets148.json')
df_149=create_df('tweets149.json')
df_150=create_df('tweets150.json')
df_151=create_df('tweets151.json')
df_152=create_df('tweets152.json')
df_153=create_df('tweets153.json')
df_154=create_df('tweets154.json')
df_155=create_df('tweets155.json')
df_156=create_df('tweets156.json')
df_157=create_df('tweets157.json')
df_158=create_df('tweets158.json')
df_159=create_df('tweets159.json')
df_160=create_df('tweets160.json')
df_161=create_df('tweets161.json')
df_162=create_df('tweets162.json')
df_163=create_df('tweets163.json')
df_164=create_df('tweets164.json')
df_165=create_df('tweets165.json')
df_166=create_df('tweets166.json')
df_167=create_df('tweets167.json')
df_168=create_df('tweets168.json')
df_169=create_df('tweets169.json')
df_170=create_df('tweets170.json')
df_171=create_df('tweets171.json')
df_172=create_df('tweets172.json')
df_173=create_df('tweets173.json')
df_174=create_df('tweets174.json')
df_175=create_df('tweets175.json')
df_176=create_df('tweets176.json')
df_177=create_df('tweets177.json')
df_178=create_df('tweets178.json')
df_179=create_df('tweets179.json')
df_180=create_df('tweets180.json')
df_181=create_df('tweets181.json')
df_182=create_df('tweets182.json')
df_183=create_df('tweets183.json')
df_184=create_df('tweets184.json')
df_185=create_df('tweets185.json')
df_186=create_df('tweets186.json')
df_187=create_df('tweets187.json')
df_188=create_df('tweets188.json')
df_189=create_df('tweets189.json')
df_190=create_df('tweets190.json')
df_191=create_df('tweets191.json')
df_192=create_df('tweets192.json')
df_193=create_df('tweets193.json')
df_194=create_df('tweets194.json')
df_195=create_df('tweets195.json')
df_196=create_df('tweets196.json')
df_197=create_df('tweets197.json')
df_198=create_df('tweets198.json')
df_199=create_df('tweets199.json')
df_200=create_df('tweets200.json')
df_201=create_df('tweets201.json')
df_202=create_df('tweets202.json')
df_203=create_df('tweets203.json')
df_204=create_df('tweets204.json')
df_205=create_df('tweets205.json')
df_206=create_df('tweets206.json')
df_207=create_df('tweets207.json')
df_208=create_df('tweets208.json')
df_209=create_df('tweets209.json')
df_210=create_df('tweets210.json')
df_211=create_df('tweets211.json')
df_212=create_df('tweets212.json')
df_213=create_df('tweets213.json')
df_214=create_df('tweets214.json')
df_215=create_df('tweets215.json')
df_216=create_df('tweets216.json')
df_217=create_df('tweets217.json')
df_218=create_df('tweets218.json')
df_219=create_df('tweets219.json')
df_220=create_df('tweets220.json')
df_221=create_df('tweets221.json')
df_222=create_df('tweets222.json')
df_223=create_df('tweets223.json')
df_224=create_df('tweets224.json')
df_225=create_df('tweets225.json')
df_226=create_df('tweets226.json')
df_227=create_df('tweets227.json')
df_228=create_df('tweets228.json')
df_229=create_df('tweets229.json')
df_230=create_df('tweets230.json')
df_231=create_df('tweets231.json')
df_232=create_df('tweets232.json')
df_233=create_df('tweets233.json')
df_234=create_df('tweets234.json')
df_235=create_df('tweets235.json')
df_236=create_df('tweets236.json')
df_237=create_df('tweets237.json')
df_238=create_df('tweets238.json')
df_239=create_df('tweets239.json')
df_240=create_df('tweets240.json')
df_241=create_df('tweets241.json')
df_242=create_df('tweets242.json')
df_243=create_df('tweets243.json')
df_244=create_df('tweets244.json')
df_245=create_df('tweets245.json')
df_246=create_df('tweets246.json')
df_247=create_df('tweets247.json')
df_248=create_df('tweets248.json')
df_249=create_df('tweets249.json')
df_250=create_df('tweets250.json')
df_251=create_df('tweets251.json')
df_252=create_df('tweets252.json')
df_253=create_df('tweets253.json')
df_254=create_df('tweets254.json')
df_255=create_df('tweets255.json')
df_256=create_df('tweets256.json')
df_257=create_df('tweets257.json')
df_258=create_df('tweets258.json')
df_259=create_df('tweets259.json')
df_260=create_df('tweets260.json')
df_261=create_df('tweets261.json')
df_262=create_df('tweets262.json')
df_263=create_df('tweets263.json')
df_264=create_df('tweets264.json')
df_265=create_df('tweets265.json')
df_266=create_df('tweets266.json')
df_267=create_df('tweets267.json')
df_268=create_df('tweets268.json')
df_269=create_df('tweets269.json')
df_270=create_df('tweets270.json')
df_271=create_df('tweets271.json')
df_272=create_df('tweets272.json')
df_273=create_df('tweets273.json')
df_274=create_df('tweets274.json')
df_275=create_df('tweets275.json')
df_276=create_df('tweets276.json')
df_277=create_df('tweets277.json')
df_278=create_df('tweets278.json')
df_279=create_df('tweets279.json')
df_280=create_df('tweets280.json')
df_281=create_df('tweets281.json')
df_282=create_df('tweets282.json')
df_283=create_df('tweets283.json')
df_284=create_df('tweets284.json')
df_285=create_df('tweets285.json')
df_286=create_df('tweets286.json')
df_287=create_df('tweets287.json')
df_288=create_df('tweets288.json')
df_289=create_df('tweets289.json')
df_290=create_df('tweets290.json')
df_291=create_df('tweets291.json')
df_292=create_df('tweets292.json')
df_293=create_df('tweets293.json')
df_294=create_df('tweets294.json')
df_295=create_df('tweets295.json')
df_296=create_df('tweets296.json')
df_297=create_df('tweets297.json')
df_298=create_df('tweets298.json')
df_299=create_df('tweets299.json')
df_300=create_df('tweets300.json')
df_301=create_df('tweets301.json')
df_302=create_df('tweets302.json')
df_303=create_df('tweets303.json')
df_304=create_df('tweets304.json')
df_305=create_df('tweets305.json')
df_306=create_df('tweets306.json')
df_307=create_df('tweets307.json')
df_308=create_df('tweets308.json')
df_309=create_df('tweets309.json')
df_310=create_df('tweets310.json')
df_311=create_df('tweets311.json')
df_312=create_df('tweets312.json')
df_313=create_df('tweets313.json')
df_314=create_df('tweets314.json')
df_315=create_df('tweets315.json')
df_316=create_df('tweets316.json')
df_317=create_df('tweets317.json')
df_318=create_df('tweets318.json')
df_319=create_df('tweets319.json')
df_320=create_df('tweets320.json')
df_321=create_df('tweets321.json')
df_322=create_df('tweets322.json')
df_323=create_df('tweets323.json')
df_324=create_df('tweets324.json')
df_325=create_df('tweets325.json')
df_326=create_df('tweets326.json')
df_327=create_df('tweets327.json')
df_328=create_df('tweets328.json')
df_329=create_df('tweets329.json')
df_330=create_df('tweets330.json')
df_331=create_df('tweets331.json')
df_332=create_df('tweets332.json')
df_333=create_df('tweets333.json')
df_334=create_df('tweets334.json')
df_335=create_df('tweets335.json')
df_336=create_df('tweets336.json')
df_337=create_df('tweets337.json')
df_338=create_df('tweets338.json')
df_339=create_df('tweets339.json')
df_340=create_df('tweets340.json')
df_341=create_df('tweets341.json')
df_342=create_df('tweets342.json')
df_343=create_df('tweets343.json')
df_344=create_df('tweets344.json')
df_345=create_df('tweets345.json')
df_346=create_df('tweets346.json')
df_347=create_df('tweets347.json')
df_348=create_df('tweets348.json')
df_349=create_df('tweets349.json')
df_350=create_df('tweets350.json')
df_351=create_df('tweets351.json')
df_352=create_df('tweets352.json')
df_353=create_df('tweets353.json')
df_354=create_df('tweets354.json')
df_355=create_df('tweets355.json')
df_356=create_df('tweets356.json')
df_357=create_df('tweets357.json')
df_358=create_df('tweets358.json')
df_359=create_df('tweets359.json')
df_360=create_df('tweets360.json')
df_361=create_df('tweets361.json')
df_362=create_df('tweets362.json')
df_363=create_df('tweets363.json')
df_364=create_df('tweets364.json')
df_365=create_df('tweets365.json')
df_366=create_df('tweets366.json')
df_367=create_df('tweets367.json')
df_368=create_df('tweets368.json')
df_369=create_df('tweets369.json')
df_370=create_df('tweets370.json')
df_371=create_df('tweets371.json')
df_372=create_df('tweets372.json')
df_373=create_df('tweets373.json')
df_374=create_df('tweets374.json')
df_375=create_df('tweets375.json')
df_376=create_df('tweets376.json')
df_377=create_df('tweets377.json')
df_378=create_df('tweets378.json')
df_379=create_df('tweets379.json')
df_380=create_df('tweets380.json')
df_381=create_df('tweets381.json')
df_382=create_df('tweets382.json')
df_383=create_df('tweets383.json')
df_384=create_df('tweets384.json')
df_385=create_df('tweets385.json')
df_386=create_df('tweets386.json')
df_387=create_df('tweets387.json')
df_388=create_df('tweets388.json')
df_389=create_df('tweets389.json')
df_390=create_df('tweets390.json')
df_391=create_df('tweets391.json')
df_392=create_df('tweets392.json')
df_393=create_df('tweets393.json')
df_394=create_df('tweets394.json')
df_395=create_df('tweets395.json')
df_396=create_df('tweets396.json')
df_397=create_df('tweets397.json')
df_398=create_df('tweets398.json')
df_399=create_df('tweets399.json')
df_400=create_df('tweets400.json')
df_401=create_df('tweets401.json')
df_402=create_df('tweets402.json')
df_403=create_df('tweets403.json')
df_404=create_df('tweets404.json')
df_405=create_df('tweets405.json')
df_406=create_df('tweets406.json')
df_407=create_df('tweets407.json')
df_408=create_df('tweets408.json')
df_409=create_df('tweets409.json')
df_410=create_df('tweets410.json')
df_411=create_df('tweets411.json')
df_412=create_df('tweets412.json')
df_413=create_df('tweets413.json')
df_414=create_df('tweets414.json')
df_415=create_df('tweets415.json')
df_416=create_df('tweets416.json')
df_417=create_df('tweets417.json')
df_418=create_df('tweets418.json')
df_419=create_df('tweets419.json')
df_420=create_df('tweets420.json')
df_421=create_df('tweets421.json')
df_422=create_df('tweets422.json')
df_423=create_df('tweets423.json')
df_424=create_df('tweets424.json')
df_425=create_df('tweets425.json')
df_426=create_df('tweets426.json')
df_427=create_df('tweets427.json')
df_428=create_df('tweets428.json')
df_429=create_df('tweets429.json')
df_430=create_df('tweets430.json')
df_431=create_df('tweets431.json')
df_432=create_df('tweets432.json')
df_433=create_df('tweets433.json')
df_434=create_df('tweets434.json')
df_435=create_df('tweets435.json')
df_436=create_df('tweets436.json')
df_437=create_df('tweets437.json')
df_438=create_df('tweets438.json')
df_439=create_df('tweets439.json')

In [6]:
df_391.head()

,tweet_id,user_id,display_name,screen_name,tweet_date,main_text,fav_count,rt_count,followers_count,is_verified,reply_to_tweet_id,reply_to_user_id,reply_to_screen_name,retweet_text,retweet_id,retweet_user_id,retweet_screen_name,retweet_is_verified,retweet_fav_count,retweet_followers_count,quoted_text,quoted_id,quoted_user_id,quoted_screen_name,quoted_is_verified,quoted_fav_count,is_retweet,is_quote
0,1104070086145515520,91183410,It’s MS. Juicy Uterine Lining,VirgoJ24,Fri Mar 08 17:23:15 +0000 2019,RT @BostonJerry: Captain Marvel side note:\n\n...,0,1,3259,False,NaN,NaN,None,Captain Marvel side note:\n\nThe new trailer f...,1.104058e+18,30290257.0,BostonJerry,False,1.0,8364.0,NaN,NaN,NaN,NaN,NaN,NaN,1,0
1,1104070085600264192,36532237,Giovanna Domingues,gicadomingues,Fri Mar 08 17:23:15 +0000 2019,itsallavengers: Captain Marvel: So how’s Nick’...,0,0,154,False,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
2,1104070081288593408,324796935,RJ,WhatUpRJ,Fri Mar 08 17:23:14 +0000 2019,I’m convinced the only reason people are sayin...,1,0,515,False,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
3,1104070079979892747,2957027716,WonkaBricks,wildwyatt03,Fri Mar 08 17:23:14 +0000 2019,"RT @Xbox: RT for a chance to fly higher, furth...",0,42881,8,False,NaN,NaN,None,"RT for a chance to fly higher, further, and fa...",1.103709e+18,24742040.0,Xbox,True,18860.0,13153630.0,NaN,NaN,NaN,NaN,NaN,NaN,1,0
4,1104070077035565056,3175435238,(Null Static Void),NSVoid,Fri Mar 08 17:23:13 +0000 2019,Why the hell are you giving Jack Posobiec a pl...,0,0,208,False,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0

In [5]:
def concat_dfs(num):
    x = 0
    df_list = []
    while x < num:
        df_list.append(f'df_{x}')
        x +=1
    return df_list

In [7]:
df_list = [df_0,
 df_1,
 df_2,
 df_3,
 df_4,
 df_5,
 df_6,
 df_7,
 df_8,
 df_9,
 df_10,
 df_11,
 df_12,
 df_13,
 df_14,
 df_15,
 df_16,
 df_17,
 df_18,
 df_19,
 df_20,
 df_21,
 df_22,
 df_23,
 df_24,
 df_25,
 df_26,
 df_27,
 df_28,
 df_29,
 df_30,
 df_31,
 df_32,
 df_33,
 df_34,
 df_35,
 df_36,
 df_37,
 df_38,
 df_39,
 df_40,
 df_41,
 df_42,
 df_43,
 df_44,
 df_45,
 df_46,
 df_47,
 df_48,
 df_49,
 df_50,
 df_51,
 df_52,
 df_53,
 df_54,
 df_55,
 df_56,
 df_57,
 df_58,
 df_59,
 df_60,
 df_61,
 df_62,
 df_63,
 df_64,
 df_65,
 df_66,
 df_67,
 df_68,
 df_69,
 df_70,
 df_71,
 df_72,
 df_73,
 df_74,
 df_75,
 df_76,
 df_77,
 df_78,
 df_79,
 df_80,
 df_81,
 df_82,
 df_83,
 df_84,
 df_85,
 df_86,
 df_87,
 df_88,
 df_89,
 df_90,
 df_91,
 df_92,
 df_93,
 df_94,
 df_95,
 df_96,
 df_97,
 df_98,
 df_99,
 df_100,
 df_101,
 df_102,
 df_103,
 df_104,
 df_105,
 df_106,
 df_107,
 df_108,
 df_109,
 df_110,
 df_111,
 df_112,
 df_113,
 df_114,
 df_115,
 df_116,
 df_117,
 df_118,
 df_119,
 df_120,
 df_121,
 df_122,
 df_123,
 df_124,
 df_125,
 df_126,
 df_127,
 df_128,
 df_129,
 df_130,
 df_131,
 df_132,
 df_133,
 df_134,
 df_135,
 df_136,
 df_137,
 df_138,
 df_139,
 df_140,
 df_141,
 df_142,
 df_143,
 df_144,
 df_145,
 df_146,
 df_147,
 df_148,
 df_149,
 df_150,
 df_151,
 df_152,
 df_153,
 df_154,
 df_155,
 df_156,
 df_157,
 df_158,
 df_159,
 df_160,
 df_161,
 df_162,
 df_163,
 df_164,
 df_165,
 df_166,
 df_167,
 df_168,
 df_169,
 df_170,
 df_171,
 df_172,
 df_173,
 df_174,
 df_175,
 df_176,
 df_177,
 df_178,
 df_179,
 df_180,
 df_181,
 df_182,
 df_183,
 df_184,
 df_185,
 df_186,
 df_187,
 df_188,
 df_189,
 df_190,
 df_191,
 df_192,
 df_193,
 df_194,
 df_195,
 df_196,
 df_197,
 df_198,
 df_199,
 df_200,
 df_201,
 df_202,
 df_203,
 df_204,
 df_205,
 df_206,
 df_207,
 df_208,
 df_209,
 df_210,
 df_211,
 df_212,
 df_213,
 df_214,
 df_215,
 df_216,
 df_217,
 df_218,
 df_219,
 df_220,
 df_221,
 df_222,
 df_223,
 df_224,
 df_225,
 df_226,
 df_227,
 df_228,
 df_229,
 df_230,
 df_231,
 df_232,
 df_233,
 df_234,
 df_235,
 df_236,
 df_237,
 df_238,
 df_239,
 df_240,
 df_241,
 df_242,
 df_243,
 df_244,
 df_245,
 df_246,
 df_247,
 df_248,
 df_249,
 df_250,
 df_251,
 df_252,
 df_253,
 df_254,
 df_255,
 df_256,
 df_257,
 df_258,
 df_259,
 df_260,
 df_261,
 df_262,
 df_263,
 df_264,
 df_265,
 df_266,
 df_267,
 df_268,
 df_269,
 df_270,
 df_271,
 df_272,
 df_273,
 df_274,
 df_275,
 df_276,
 df_277,
 df_278,
 df_279,
 df_280,
 df_281,
 df_282,
 df_283,
 df_284,
 df_285,
 df_286,
 df_287,
 df_288,
 df_289,
 df_290,
 df_291,
 df_292,
 df_293,
 df_294,
 df_295,
 df_296,
 df_297,
 df_298,
 df_299,
 df_300,
 df_301,
 df_302,
 df_303,
 df_304,
 df_305,
 df_306,
 df_307,
 df_308,
 df_309,
 df_310,
 df_311,
 df_312,
 df_313,
 df_314,
 df_315,
 df_316,
 df_317,
 df_318,
 df_319,
 df_320,
 df_321,
 df_322,
 df_323,
 df_324,
 df_325,
 df_326,
 df_327,
 df_328,
 df_329,
 df_330,
 df_331,
 df_332,
 df_333,
 df_334,
 df_335,
 df_336,
 df_337,
 df_338,
 df_339,
 df_340,
 df_341,
 df_342,
 df_343,
 df_344,
 df_345,
 df_346,
 df_347,
 df_348,
 df_349,
 df_350,
 df_351,
 df_352,
 df_353,
 df_354,
 df_355,
 df_356,
 df_357,
 df_358,
 df_359,
 df_360,
 df_361,
 df_362,
 df_363,
 df_364,
 df_365,
 df_366,
 df_367,
 df_368,
 df_369,
 df_370,
 df_371,
 df_372,
 df_373,
 df_374,
 df_375,
 df_376,
 df_377,
 df_378,
 df_379,
 df_380,
 df_381,
 df_382,
 df_383,
 df_384,
 df_385,
 df_386,
 df_387,
 df_388,
 df_389,
 df_390,
 df_391,
 df_392,
 df_393,
 df_394,
 df_395,
 df_396,         
 df_397,
 df_398,
 df_399,          
 df_400,          
 df_401,          
 df_402,          
 df_403,          
 df_404,          
 df_405,          
 df_406,          
 df_407,          
 df_408,          
 df_409,          
 df_410,          
 df_411,          
 df_412,         
 df_413,          
 df_414,          
 df_415,          
 df_416,          
 df_417,          
 df_418,          
 df_419,          
 df_420,          
 df_421,
 df_422,          
 df_423,          
 df_424,          
 df_425,          
 df_426,          
 df_427,          
 df_428,          
 df_429,          
 df_430,          
 df_431,          
 df_432,          
 df_433,          
 df_434,          
 df_435,          
 df_436,
 df_437,          
 df_438,                           
 df_439]

In [8]:
final_marvel_df = pd.concat(df_list)

In [10]:
final_marvel_df.shape

(1779794, 28)

In [11]:
final_marvel_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1779794 entries, 0 to 3167
Data columns (total 28 columns):
tweet_id                   int64
user_id                    int64
display_name               object
screen_name                object
tweet_date                 object
main_text                  object
fav_count                  int64
rt_count                   int64
followers_count            int64
is_verified                bool
reply_to_tweet_id          float64
reply_to_user_id           float64
reply_to_screen_name       object
retweet_text               object
retweet_id                 float64
retweet_user_id            float64
retweet_screen_name        object
retweet_is_verified        object
retweet_fav_count          float64
retweet_followers_count    float64
quoted_text                object
quoted_id                  float64
quoted_user_id             float64
quoted_screen_name         object
quoted_is_verified         object
quoted_fav_count           float64
is_retweet                 int64
is_quote                   int64
dtypes: bool(1), float64(9), int64(7), object(11)
memory usage: 381.9+ MB

In [12]:
# Out of the 1.77 million tweets, 20445 are from verified users
(final_marvel_df['is_verified'] == True).sum()

20445

In [14]:
# Out of the 1.77 million tweets, 1155778 are retweets
(final_marvel_df['is_retweet'] == 1).sum()

1155778

In [16]:
# Out of the 1.77 million tweets, 25993 are quotes
(final_marvel_df['is_quote'] == 1).sum()

25993

Now I will try to de-duplicate by tweet ID, to make sure I don't have duplicate rows

In [17]:
# All tweets in the dataset are unique
final_marvel_df['tweet_id'].nunique()

1779794

In [18]:
# There are 822538 unique users that have tweeted
final_marvel_df['user_id'].nunique()

822538

Pickling my final raw df for safe keeping

In [19]:
with open('/Users/robertpagano/metis_data/project_5/final_raw_marvel_df.pickle', 'wb') as to_write:
    pickle.dump(final_marvel_df, to_write)

I want to look at users who 100% retweet, and check how many there are for various counts. so for example, if a user has say 50 retweets in the last week, and no original tweets, this person is likely either a bot, or someone that no one else is ever really connecting to. Not relevant to my analysis

In [20]:
df_marvel_verified = final_marvel_df[final_marvel_df['is_verified'] == True]

In [21]:
df_marvel_verified.shape

(20445, 28)

In [22]:
df_marvel_verified.nunique()

tweet_id                   20445
user_id                     7109
display_name                7098
screen_name                 7109
tweet_date                 19609
main_text                  17776
fav_count                   1083
rt_count                     750
followers_count            10813
is_verified                    1
reply_to_tweet_id           2011
reply_to_user_id            1613
reply_to_screen_name        1613
retweet_text                3216
retweet_id                  3229
retweet_user_id             2191
retweet_screen_name         2191
retweet_is_verified            2
retweet_fav_count           1269
retweet_followers_count     3166
quoted_text                  501
quoted_id                    501
quoted_user_id               401
quoted_screen_name           401
quoted_is_verified             2
quoted_fav_count             363
is_retweet                     2
is_quote                       2
dtype: int64

In [23]:
with open('/Users/robertpagano/metis_data/project_5/final_verified_marvel_df.pickle', 'wb') as to_write:
    pickle.dump(df_marvel_verified, to_write)

Below I am creating 'df_double_verified' - which means it's a retweet or a quote where BOTH parties are verified. Can use this for EDA? df_1 + df_2 = double verified

In [24]:
df_1 = df_marvel_verified[df_marvel_verified['retweet_is_verified'] == True]

In [25]:
df_2 = df_marvel_verified[df_marvel_verified['quoted_is_verified'] == True]

In [26]:
df_double_marvel_verified = pd.concat([df_1, df_2])

In [28]:
df_double_marvel_verified.shape

(4103, 28)

In [29]:
df_double_marvel_verified['user_id'].nunique()

2278

In [30]:
with open('/Users/robertpagano/metis_data/project_5/final_double_verified_marvel_df.pickle', 'wb') as to_write:
    pickle.dump(df_double_marvel_verified, to_write)