In [1]:
import pandas as pd
import numpy as np

import pickle

# gensim
from gensim import corpora, models, similarities, matutils

# sklearn
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

# logging for gensim (set to INFO)
import logging
logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.INFO)

import nltk
import spacy

First, pulling in modgroups. Contains ~296k unique names and mod classes. Will append this value to the final data

In [20]:
mod_groups = pd.read_csv('/Users/robertpagano/Mod_class_aoc.csv')

In [21]:
with open('/Users/robertpagano/metis_data/project_5/final_raw_df.pickle', 'rb') as f:
    df_aoc = pickle.load(f)

In [22]:
df_aoc.head()

,tweet_id,user_id,display_name,screen_name,tweet_date,main_text,fav_count,rt_count,followers_count,is_verified,...,retweet_fav_count,retweet_followers_count,quoted_text,quoted_id,quoted_user_id,quoted_screen_name,quoted_is_verified,quoted_fav_count,is_retweet,is_quote
0,1105328989005000704,955685794433318912,mythos55,Sandra71005599,Tue Mar 12 04:45:41 +0000 2019,"RT @ARmastrangelo: .@AOC, my entire family imm...",0,5155,232,False,...,16041.0,180619.0,NaN,NaN,NaN,NaN,NaN,NaN,1,0
1,1105328986823962625,1523921276,Webcams,webcamsla,Tue Mar 12 04:45:41 +0000 2019,RT @gatewaypundit: Figures: Alexandria Ocasio-...,0,82,1034,False,...,118.0,137906.0,NaN,NaN,NaN,NaN,NaN,NaN,1,0
2,1105328986219929600,730127113261449217,love trump,DGlavine,Tue Mar 12 04:45:40 +0000 2019,"RT @Spring_Harbinge: ðŸš¨hey, @AOC , Is it true y...",0,178,1064,False,...,175.0,34404.0,NaN,NaN,NaN,NaN,NaN,NaN,1,0
3,1105328986123468800,16654720,eSublime,eSublime,Tue Mar 12 04:45:40 +0000 2019,@tomselliott @thebradfordfile @AOC @sxsw I liked,0,0,19,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
4,1105328984030621697,891939067,Kate B,kateb722,Tue Mar 12 04:45:40 +0000 2019,RT @Education4Libs: SHARE THIS EVERYWHERE befo...,0,704,7334,False,...,833.0,349574.0,NaN,NaN,NaN,NaN,NaN,NaN,1,0

In [23]:
df_aoc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1604950 entries, 0 to 4098
Data columns (total 28 columns):
tweet_id                   1604950 non-null int64
user_id                    1604950 non-null int64
display_name               1604950 non-null object
screen_name                1604950 non-null object
tweet_date                 1604950 non-null object
main_text                  1604950 non-null object
fav_count                  1604950 non-null int64
rt_count                   1604950 non-null int64
followers_count            1604950 non-null int64
is_verified                1604950 non-null bool
reply_to_tweet_id          480674 non-null float64
reply_to_user_id           501275 non-null float64
reply_to_screen_name       501275 non-null object
retweet_text               984636 non-null object
retweet_id                 984636 non-null float64
retweet_user_id            984636 non-null float64
retweet_screen_name        984636 non-null object
retweet_is_verified        984636 non-null object
retweet_fav_count          984636 non-null float64
retweet_followers_count    984636 non-null float64
quoted_text                49441 non-null object
quoted_id                  49441 non-null float64
quoted_user_id             49441 non-null float64
quoted_screen_name         49441 non-null object
quoted_is_verified         49441 non-null object
quoted_fav_count           49441 non-null float64
is_retweet                 1604950 non-null int64
is_quote                   1604950 non-null int64
dtypes: bool(1), float64(9), int64(7), object(11)
memory usage: 344.4+ MB

In [24]:
df_aoc['screen_name'].nunique()

455438

In [25]:
mod_groups['Id'].nunique()

296048

Not sure why, but we must have cut out around 150k names from the network data. Should probably figure out who that is before continuing, I don't want to not include important accounts

In [27]:
mod_groups['modularity_class'].nunique()

54

In [32]:
mod_groups.groupby(['modularity_class']).count()[['Id']]

                     Id
modularity_class
0                  6649
1                   538
2                  7329
3                  2237
4                 48942
5                 47856
6                 68524
7                 63376
8                  1945
9                 40459
10                 4205
11                  423
12                    3
13                    4
14                    3
15                    4
16                    3
17                    7
18                    4
19                    4
20                    3
21                    6
22                    4
23                    5
24                    4
25                    3
26                  834
27                    3
28                   52
29                    3
30                    3
31                    3
32                    3
33                    3
34                    3
35                    3
36                    3
37                    4
38                    3
39                   14
40                 2345
41                    4
42                    3
43                    3
44                    5
45                    3
46                    4
47                  162
48                   21
49                    9
50                    4
51                    4
52                    4
53                    3

So here are the communities to focus on:
 - 0 
 - 1 (maybe not)
 - 2
 - 3
 - 4
 - 5
 - 6
 - 7
 - 8
 - 9
 - 10
 - 11 (maybe not)
 - 26
 - 40
 
So we need to find the top accounts in each group, do NLP analysis of each group (topic modeling / sentiment analysis)

Next, to check - append community to each account. Then make sure the top x accounts have one of these communties

In [33]:
mod_groups.head()

               Id           Label  timeset  modularity_class
0  Sandra71005599  Sandra71005599      NaN                 4
1   ARmastrangelo   ARmastrangelo      NaN                 5
2       webcamsla       webcamsla      NaN                 5
3   gatewaypundit   gatewaypundit      NaN                 9
4        DGlavine        DGlavine      NaN                 9

In [34]:
mod_groups.drop(columns=['Id', 'timeset'], inplace=True)
mod_groups.head()

            Label  modularity_class
0  Sandra71005599                 4
1   ARmastrangelo                 5
2       webcamsla                 5
3   gatewaypundit                 9
4        DGlavine                 9

# TO DO

1. Append community to DF
2. Check top accounts are a part of community (and if they are, look back to see who we lost)
3. Topic modeling with LSA / NMF. Get top words each topic, etc.
4. New Jupyter Notebook - sentiment analysis on each topic by community

In [35]:
df_aoc = pd.merge(df_aoc, mod_groups, how='left', left_on='screen_name', right_on='Label')
df_aoc.head()

,tweet_id,user_id,display_name,screen_name,tweet_date,main_text,fav_count,rt_count,followers_count,is_verified,...,quoted_text,quoted_id,quoted_user_id,quoted_screen_name,quoted_is_verified,quoted_fav_count,is_retweet,is_quote,Label,modularity_class
0,1105328989005000704,955685794433318912,mythos55,Sandra71005599,Tue Mar 12 04:45:41 +0000 2019,"RT @ARmastrangelo: .@AOC, my entire family imm...",0,5155,232,False,...,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Sandra71005599,4.0
1,1105328986823962625,1523921276,Webcams,webcamsla,Tue Mar 12 04:45:41 +0000 2019,RT @gatewaypundit: Figures: Alexandria Ocasio-...,0,82,1034,False,...,NaN,NaN,NaN,NaN,NaN,NaN,1,0,webcamsla,5.0
2,1105328986219929600,730127113261449217,love trump,DGlavine,Tue Mar 12 04:45:40 +0000 2019,"RT @Spring_Harbinge: ðŸš¨hey, @AOC , Is it true y...",0,178,1064,False,...,NaN,NaN,NaN,NaN,NaN,NaN,1,0,DGlavine,9.0
3,1105328986123468800,16654720,eSublime,eSublime,Tue Mar 12 04:45:40 +0000 2019,@tomselliott @thebradfordfile @AOC @sxsw I liked,0,0,19,False,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN
4,1105328984030621697,891939067,Kate B,kateb722,Tue Mar 12 04:45:40 +0000 2019,RT @Education4Libs: SHARE THIS EVERYWHERE befo...,0,704,7334,False,...,NaN,NaN,NaN,NaN,NaN,NaN,1,0,kateb722,9.0

In [36]:
pd.set_option('display.max_columns', 500)

In [37]:
df_aoc.head()

,tweet_id,user_id,display_name,screen_name,tweet_date,main_text,fav_count,rt_count,followers_count,is_verified,reply_to_tweet_id,reply_to_user_id,reply_to_screen_name,retweet_text,retweet_id,retweet_user_id,retweet_screen_name,retweet_is_verified,retweet_fav_count,retweet_followers_count,quoted_text,quoted_id,quoted_user_id,quoted_screen_name,quoted_is_verified,quoted_fav_count,is_retweet,is_quote,Label,modularity_class
0,1105328989005000704,955685794433318912,mythos55,Sandra71005599,Tue Mar 12 04:45:41 +0000 2019,"RT @ARmastrangelo: .@AOC, my entire family imm...",0,5155,232,False,NaN,NaN,None,".@AOC, my entire family immigrated to the Unit...",1.105223e+18,2.652095e+07,ARmastrangelo,True,16041.0,180619.0,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Sandra71005599,4.0
1,1105328986823962625,1523921276,Webcams,webcamsla,Tue Mar 12 04:45:41 +0000 2019,RT @gatewaypundit: Figures: Alexandria Ocasio-...,0,82,1034,False,NaN,NaN,None,Figures: Alexandria Ocasio-Cortez is All Smile...,1.105316e+18,1.921155e+07,gatewaypundit,True,118.0,137906.0,NaN,NaN,NaN,NaN,NaN,NaN,1,0,webcamsla,5.0
2,1105328986219929600,730127113261449217,love trump,DGlavine,Tue Mar 12 04:45:40 +0000 2019,"RT @Spring_Harbinge: ðŸš¨hey, @AOC , Is it true y...",0,178,1064,False,NaN,NaN,None,"ðŸš¨hey, @AOC , Is it true your failed children's...",1.105232e+18,9.695692e+17,Spring_Harbinge,False,175.0,34404.0,NaN,NaN,NaN,NaN,NaN,NaN,1,0,DGlavine,9.0
3,1105328986123468800,16654720,eSublime,eSublime,Tue Mar 12 04:45:40 +0000 2019,@tomselliott @thebradfordfile @AOC @sxsw I liked,0,0,19,False,1.105219e+18,49698174.0,tomselliott,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN
4,1105328984030621697,891939067,Kate B,kateb722,Tue Mar 12 04:45:40 +0000 2019,RT @Education4Libs: SHARE THIS EVERYWHERE befo...,0,704,7334,False,NaN,NaN,None,SHARE THIS EVERYWHERE before YouTube takes it ...,1.105315e+18,8.176611e+17,Education4Libs,False,833.0,349574.0,NaN,NaN,NaN,NaN,NaN,NaN,1,0,kateb722,9.0

Now I want to put a counter for each screen name as a row

In [54]:
df_aoc['screenname_freq'] = df_aoc.groupby('screen_name')['screen_name'].transform('count')

In [55]:
df_aoc.head()

,tweet_id,user_id,display_name,screen_name,tweet_date,main_text,fav_count,rt_count,followers_count,is_verified,reply_to_tweet_id,reply_to_user_id,reply_to_screen_name,retweet_text,retweet_id,retweet_user_id,retweet_screen_name,retweet_is_verified,retweet_fav_count,retweet_followers_count,quoted_text,quoted_id,quoted_user_id,quoted_screen_name,quoted_is_verified,quoted_fav_count,is_retweet,is_quote,Label,modularity_class,screenname_freq
0,1105328989005000704,955685794433318912,mythos55,Sandra71005599,Tue Mar 12 04:45:41 +0000 2019,"RT @ARmastrangelo: .@AOC, my entire family imm...",0,5155,232,False,NaN,NaN,None,".@AOC, my entire family immigrated to the Unit...",1.105223e+18,2.652095e+07,ARmastrangelo,True,16041.0,180619.0,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Sandra71005599,4.0,13
1,1105328986823962625,1523921276,Webcams,webcamsla,Tue Mar 12 04:45:41 +0000 2019,RT @gatewaypundit: Figures: Alexandria Ocasio-...,0,82,1034,False,NaN,NaN,None,Figures: Alexandria Ocasio-Cortez is All Smile...,1.105316e+18,1.921155e+07,gatewaypundit,True,118.0,137906.0,NaN,NaN,NaN,NaN,NaN,NaN,1,0,webcamsla,5.0,56
2,1105328986219929600,730127113261449217,love trump,DGlavine,Tue Mar 12 04:45:40 +0000 2019,"RT @Spring_Harbinge: ðŸš¨hey, @AOC , Is it true y...",0,178,1064,False,NaN,NaN,None,"ðŸš¨hey, @AOC , Is it true your failed children's...",1.105232e+18,9.695692e+17,Spring_Harbinge,False,175.0,34404.0,NaN,NaN,NaN,NaN,NaN,NaN,1,0,DGlavine,9.0,8
3,1105328986123468800,16654720,eSublime,eSublime,Tue Mar 12 04:45:40 +0000 2019,@tomselliott @thebradfordfile @AOC @sxsw I liked,0,0,19,False,1.105219e+18,49698174.0,tomselliott,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,3
4,1105328984030621697,891939067,Kate B,kateb722,Tue Mar 12 04:45:40 +0000 2019,RT @Education4Libs: SHARE THIS EVERYWHERE befo...,0,704,7334,False,NaN,NaN,None,SHARE THIS EVERYWHERE before YouTube takes it ...,1.105315e+18,8.176611e+17,Education4Libs,False,833.0,349574.0,NaN,NaN,NaN,NaN,NaN,NaN,1,0,kateb722,9.0,13

In [56]:
df_no_class = df_aoc[df_aoc['modularity_class'].isnull() == True]

In [58]:
df_no_class.sort_values('followers_count', ascending=False).head(20)

,tweet_id,user_id,display_name,screen_name,tweet_date,main_text,fav_count,rt_count,followers_count,is_verified,reply_to_tweet_id,reply_to_user_id,reply_to_screen_name,retweet_text,retweet_id,retweet_user_id,retweet_screen_name,retweet_is_verified,retweet_fav_count,retweet_followers_count,quoted_text,quoted_id,quoted_user_id,quoted_screen_name,quoted_is_verified,quoted_fav_count,is_retweet,is_quote,Label,modularity_class,screenname_freq
1259968,1103834945238130688,39453212,GMA News,gmanews,Fri Mar 08 01:48:53 +0000 2019,@llanescajourno Vice President Robredo on stag...,19,4,5373187,True,1.103831e+18,3.945321e+07,gmanews,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,1
299786,1105078414552322048,43568964,vir sanghvi,virsanghvi,Mon Mar 11 12:10:00 +0000 2019,RT @seemagoswami: Now Amazon knows who to cast...,0,4,4354344,True,NaN,NaN,None,Now Amazon knows who to cast in a biopic of @A...,1.105077e+18,1.071689e+08,seemagoswami,True,40.0,71791.0,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,NaN,1
1259308,1103835714439929857,330826792,Rappler,rapplerdotcom,Fri Mar 08 01:51:57 +0000 2019,RT @sofiatomacruz: Robredo mentions US Congres...,0,1,3065983,True,NaN,NaN,None,Robredo mentions US Congresswoman Alexandra Oc...,1.103833e+18,3.343353e+09,sofiatomacruz,False,8.0,517.0,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,NaN,1
1066225,1104078200202842113,222953824,Twitter Government,TwitterGov,Fri Mar 08 17:55:30 +0000 2019,@TwitterWomen @ladygaga @NICKIMINAJ @Beyonce @...,4,0,2446163,True,1.104060e+18,2.328003e+09,TwitterWomen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,1
1186254,1103913299974938629,25053299,FORTUNE,FortuneMagazine,Fri Mar 08 07:00:15 +0000 2019,.@AOC's questions for Michael Cohen got real a...,7,0,2261334,True,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,1
946831,1104202650952773633,16736535,PC Gamer,pcgamer,Sat Mar 09 02:10:01 +0000 2019,AOCâ€™s new 28-inch monitor is a relatively affo...,101,16,1963743,True,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,1
161346,1105196592838180867,23818581,VICE,VICE,Mon Mar 11 19:59:35 +0000 2019,.@NoContextBoomer is a beautiful nightmare of ...,7,0,1944159,True,1.105196e+18,2.381858e+07,VICE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,2
123424,1105226986090319872,23818581,VICE,VICE,Mon Mar 11 22:00:22 +0000 2019,It sounds like some kind of fictional 2019 wor...,43,4,1944151,True,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,2
329461,1105009352983937025,19247844,Glamour,glamourmag,Mon Mar 11 07:35:34 +0000 2019,Fashion choices can speak volumes when a woman...,3,0,1362674,True,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,1
912995,1104244124692156416,49315012,Lucas Silveira,lucasfresno,Sat Mar 09 04:54:49 +0000 2019,"@AOC Juan in a Million, all the way.",3,0,1344468,True,1.104223e+18,1.382031e+08,AOC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,1
693722,1104614098199871488,928219752,William Dalrymple,DalrympleWill,Sun Mar 10 05:24:58 +0000 2019,Oh for more politicians like this! https://t.c...,36,3,1138923,True,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I find it revealing when people mock where I c...,1.104070e+18,138203134.0,AOC,True,495519.0,0,1,NaN,NaN,1
1199215,1103890699794051072,18511475,Talib Kweli Greene,TalibKweli,Fri Mar 08 05:30:26 +0000 2019,RT @QRabullione: @Billtheicon @darral67 @TheBl...,0,1,1093127,True,NaN,NaN,None,@Billtheicon @darral67 @TheBlackChannel @Maxin...,1.103886e+18,8.400524e+17,QRabullione,False,6.0,103.0,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,NaN,1
1397427,1103695918531072000,33342154,Ethan Suplee,EthanSuplee,Thu Mar 07 16:36:27 +0000 2019,@michaelmalice Aesthetically AOC is by far my ...,23,0,1033081,True,1.103692e+18,4.406730e+07,michaelmalice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,1
1023478,1104116260231671810,12611642,ThinkGeek,thinkgeek,Fri Mar 08 20:26:44 +0000 2019,@DaPuddleduck @Alyssa_Milano @AOC @IlhanMN The...,1,0,1025424,True,1.104112e+18,1.600396e+08,DaPuddleduck,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,1
1484627,1103503910277390337,163436555,Adam Ellis,moby_dickhead,Thu Mar 07 03:53:28 +0000 2019,@jbstevens8 @AOC You're dumb,27,0,970802,True,1.103499e+18,3.240263e+07,jbstevens8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,1
1058906,1104084314403164160,48785884,Clark Gregg,clarkgregg,Fri Mar 08 18:19:48 +0000 2019,"@KylerGardner50 @AOC Kyle, Kyle, Kyle. Another...",8,0,718010,True,1.104083e+18,7.932946e+17,KylerGardner50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,2
1056442,1104086555411472384,48785884,Clark Gregg,clarkgregg,Fri Mar 08 18:28:42 +0000 2019,@KylerGardner50 @AOC Are you sure youâ€™re not j...,27,1,718010,True,1.104086e+18,7.932946e+17,KylerGardner50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,2
1105417,1104045618723463168,54203238,Stylist Magazine,StylistMagazine,Fri Mar 08 15:46:02 +0000 2019,. @AOC recently had the best response to being...,0,0,691521,True,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,2
1559615,1103423013796614144,54203238,Stylist Magazine,StylistMagazine,Wed Mar 06 22:32:01 +0000 2019,Congresswoman @AOC was recently called â€˜unlik...,9,6,691514,True,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,2
85311,1105261876525613058,15281391,TheStreet,TheStreet,Tue Mar 12 00:19:00 +0000 2019,You may have heardÂ about New York Congresswoma...,1,0,664070,True,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,1

In [59]:
df_no_class.shape

(307973, 31)

In [60]:
df_aoc.shape

(1604950, 31)

In [61]:
1604950-307973

1296977

So it looks like the network communities just ignored those with very low frequency in the dataset, which is fine. If I ignore those without a modularity class, I end up with roughly 1.3 million observations (removing 307k). This should be fine for NLP analysis, so I'll just remove those

In [63]:
df_aoc = df_aoc[df_aoc['modularity_class'].isnull() == False]

In [65]:
df_aoc.shape
## And I'll pickle it

(1296977, 31)

In [66]:
with open('/Users/robertpagano/metis_data/project_5/aoc_nlp_null_class_removed.pickle', 'wb') as to_write:
    pickle.dump(df_aoc, to_write)

Now filter for just communties with enough data, and find the top posters in each

0
1 (maybe not)
2
3
4
5
6
7
8
9
10
11 (maybe not)
26
40

In [67]:
# list of communities to run NLP on
list_of_coms = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 26, 40]

In [69]:
df_aoc_coms = df_aoc[df_aoc['modularity_class'].isin(list_of_coms)]

In [70]:
df_aoc_coms.shape

(1296014, 31)

In [73]:
# get counts of tweets by modularity class
df_aoc_coms.groupby(['modularity_class']).count()[['screen_name']]

                  screen_name
modularity_class
0.0                     34997
1.0                      1446
2.0                      8345
3.0                      9346
4.0                    224793
5.0                    237746
6.0                    190998
7.0                    135612
8.0                      8192
9.0                    425343
10.0                    13157
11.0                     2270
26.0                     1141
40.0                     2628

 - append retweet_mod_class to all retweets?
 - Append pagerank to each tweet, so I can get most influential nodes by class
 - sort by follower count first, then come back and add pagerank, betweenness, etc.

In [74]:
# So basically I need to do a groupby, screenname, follower count, head(10), and functionize it

In [94]:
df_aoc_coms.columns

Index(['tweet_id', 'user_id', 'display_name', 'screen_name', 'tweet_date',
       'main_text', 'fav_count', 'rt_count', 'followers_count', 'is_verified',
       'reply_to_tweet_id', 'reply_to_user_id', 'reply_to_screen_name',
       'retweet_text', 'retweet_id', 'retweet_user_id', 'retweet_screen_name',
       'retweet_is_verified', 'retweet_fav_count', 'retweet_followers_count',
       'quoted_text', 'quoted_id', 'quoted_user_id', 'quoted_screen_name',
       'quoted_is_verified', 'quoted_fav_count', 'is_retweet', 'is_quote',
       'Label', 'modularity_class', 'screenname_freq'],
      dtype='object')

I'm going to add pagerank here, and then add it to the "raw" file, and then re-run all the separate communities things

In [113]:
with open('/Users/robertpagano/src/metis_project_kojak/network_files/aoc/aoc_pagerank_all.pickle', 'rb') as f:
    pr = pickle.load(f)

In [114]:
df_aoc_coms['PageRank'] = df_aoc_coms['screen_name'].map(pr)
df_aoc_coms.head()

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,tweet_id,user_id,display_name,screen_name,tweet_date,main_text,fav_count,rt_count,followers_count,is_verified,reply_to_tweet_id,reply_to_user_id,reply_to_screen_name,retweet_text,retweet_id,retweet_user_id,retweet_screen_name,retweet_is_verified,retweet_fav_count,retweet_followers_count,quoted_text,quoted_id,quoted_user_id,quoted_screen_name,quoted_is_verified,quoted_fav_count,is_retweet,is_quote,Label,modularity_class,screenname_freq,PageRank
0,1105328989005000704,955685794433318912,mythos55,Sandra71005599,Tue Mar 12 04:45:41 +0000 2019,"RT @ARmastrangelo: .@AOC, my entire family imm...",0,5155,232,False,NaN,NaN,None,".@AOC, my entire family immigrated to the Unit...",1.105223e+18,2.652095e+07,ARmastrangelo,True,16041.0,180619.0,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Sandra71005599,4.0,13,0.000003
1,1105328986823962625,1523921276,Webcams,webcamsla,Tue Mar 12 04:45:41 +0000 2019,RT @gatewaypundit: Figures: Alexandria Ocasio-...,0,82,1034,False,NaN,NaN,None,Figures: Alexandria Ocasio-Cortez is All Smile...,1.105316e+18,1.921155e+07,gatewaypundit,True,118.0,137906.0,NaN,NaN,NaN,NaN,NaN,NaN,1,0,webcamsla,5.0,56,0.000011
2,1105328986219929600,730127113261449217,love trump,DGlavine,Tue Mar 12 04:45:40 +0000 2019,"RT @Spring_Harbinge: ðŸš¨hey, @AOC , Is it true y...",0,178,1064,False,NaN,NaN,None,"ðŸš¨hey, @AOC , Is it true your failed children's...",1.105232e+18,9.695692e+17,Spring_Harbinge,False,175.0,34404.0,NaN,NaN,NaN,NaN,NaN,NaN,1,0,DGlavine,9.0,8,0.000003
4,1105328984030621697,891939067,Kate B,kateb722,Tue Mar 12 04:45:40 +0000 2019,RT @Education4Libs: SHARE THIS EVERYWHERE befo...,0,704,7334,False,NaN,NaN,None,SHARE THIS EVERYWHERE before YouTube takes it ...,1.105315e+18,8.176611e+17,Education4Libs,False,833.0,349574.0,NaN,NaN,NaN,NaN,NaN,NaN,1,0,kateb722,9.0,13,0.000003
5,1105328982562664448,274207288,Drayton,ScoutDrayton,Tue Mar 12 04:45:40 +0000 2019,RT @NoahPollak: AOC and Ilhan Omar's good frie...,0,1088,11072,False,NaN,NaN,None,AOC and Ilhan Omar's good friend Rep. Rashida ...,1.105199e+18,1.067114e+08,NoahPollak,False,1619.0,23822.0,NaN,NaN,NaN,NaN,NaN,NaN,1,0,ScoutDrayton,5.0,56,0.000012

In [129]:
df_coms_raw = df_aoc_coms.loc[:, ['screen_name', 'followers_count', 'modularity_class', 'main_text', 'retweet_text', 'tweet_date', 'PageRank', 'rt_count']]

In [130]:
df_com_0 = df_coms_raw[df_coms_raw['modularity_class'] == 0]
df_com_1 = df_coms_raw[df_coms_raw['modularity_class'] == 1]
df_com_2 = df_coms_raw[df_coms_raw['modularity_class'] == 2]
df_com_3 = df_coms_raw[df_coms_raw['modularity_class'] == 3]
df_com_4 = df_coms_raw[df_coms_raw['modularity_class'] == 4]
df_com_5 = df_coms_raw[df_coms_raw['modularity_class'] == 5]
df_com_6 = df_coms_raw[df_coms_raw['modularity_class'] == 6]
df_com_7 = df_coms_raw[df_coms_raw['modularity_class'] == 7]
df_com_8 = df_coms_raw[df_coms_raw['modularity_class'] == 8]
df_com_9 = df_coms_raw[df_coms_raw['modularity_class'] == 9]
df_com_10 = df_coms_raw[df_coms_raw['modularity_class'] == 10]
df_com_11 = df_coms_raw[df_coms_raw['modularity_class'] == 11]
df_com_26 = df_coms_raw[df_coms_raw['modularity_class'] == 26]
df_com_40 = df_coms_raw[df_coms_raw['modularity_class'] == 40]

In [131]:
print(df_com_0.shape)
print(df_com_1.shape)
print(df_com_2.shape)
print(df_com_3.shape)
print(df_com_4.shape)
print(df_com_5.shape)
print(df_com_6.shape)
print(df_com_7.shape)
print(df_com_8.shape)
print(df_com_9.shape)
print(df_com_10.shape)
print(df_com_11.shape)
print(df_com_26.shape)
print(df_com_40.shape)

(34997, 8)
(1446, 8)
(8345, 8)
(9346, 8)
(224793, 8)
(237746, 8)
(190998, 8)
(135612, 8)
(8192, 8)
(425343, 8)
(13157, 8)
(2270, 8)
(1141, 8)
(2628, 8)

In [132]:
df_com_0 = df_com_0.sort_values(by=['PageRank', 'rt_count'], ascending=False)
df_com_1 = df_com_1.sort_values(by=['PageRank', 'rt_count'], ascending=False)
df_com_2 = df_com_2.sort_values(by=['PageRank', 'rt_count'], ascending=False)
df_com_3 = df_com_3.sort_values(by=['PageRank', 'rt_count'], ascending=False)
df_com_4 = df_com_4.sort_values(by=['PageRank', 'rt_count'], ascending=False)
df_com_5 = df_com_5.sort_values(by=['PageRank', 'rt_count'], ascending=False)
df_com_6 = df_com_6.sort_values(by=['PageRank', 'rt_count'], ascending=False)
df_com_7 = df_com_7.sort_values(by=['PageRank', 'rt_count'], ascending=False)
df_com_8 = df_com_8.sort_values(by=['PageRank', 'rt_count'], ascending=False)
df_com_9 = df_com_9.sort_values(by=['PageRank', 'rt_count'], ascending=False)
df_com_10 = df_com_10.sort_values(by=['PageRank', 'rt_count'], ascending=False)
df_com_11 = df_com_11.sort_values(by=['PageRank', 'rt_count'], ascending=False)
df_com_26 = df_com_26.sort_values(by=['PageRank', 'rt_count'], ascending=False)
df_com_40 = df_com_40.sort_values(by=['PageRank', 'rt_count'], ascending=False)

In [150]:
df_com_0.head()

,screen_name,followers_count,modularity_class,main_text,retweet_text,tweet_date,PageRank,rt_count
405812,DavidJHarrisJr,75631,0.0,So @aoc answered a casting call... and now she...,NaN,Mon Mar 11 01:16:04 +0000 2019,0.004242,6936
712255,DavidJHarrisJr,75652,0.0,So @aoc wants to raise our taxes and she hasnâ€™...,NaN,Sun Mar 10 03:49:44 +0000 2019,0.004242,1127
465115,DavidJHarrisJr,75638,0.0,Now @aoc says America is garbage? \nWho electe...,NaN,Sun Mar 10 22:30:39 +0000 2019,0.004242,1056
62994,DavidJHarrisJr,75620,0.0,Former FEC Commissioner says thereâ€™s more than...,NaN,Tue Mar 12 01:25:16 +0000 2019,0.004242,997
1205837,DavidJHarrisJr,75690,0.0,Hey AOC! Guess what? Climate change and global...,NaN,Fri Mar 08 05:02:07 +0000 2019,0.004242,838

For the below - I want to create this with just a list of the most influential 20 in each category, for EDA purposes

In [153]:
df_com_0_top_20 = df_com_0.drop_duplicates(subset='screen_name', keep='first').head(20)
df_com_1_top_20 = df_com_1.drop_duplicates(subset='screen_name', keep='first').head(20)
df_com_2_top_20 = df_com_2.drop_duplicates(subset='screen_name', keep='first').head(20)
df_com_3_top_20 = df_com_3.drop_duplicates(subset='screen_name', keep='first').head(20)
df_com_4_top_20 = df_com_4.drop_duplicates(subset='screen_name', keep='first').head(20)
df_com_5_top_20 = df_com_5.drop_duplicates(subset='screen_name', keep='first').head(20)
df_com_6_top_20 = df_com_6.drop_duplicates(subset='screen_name', keep='first').head(20)
df_com_7_top_20 = df_com_7.drop_duplicates(subset='screen_name', keep='first').head(20)
df_com_8_top_20 = df_com_8.drop_duplicates(subset='screen_name', keep='first').head(20)
df_com_9_top_20 = df_com_9.drop_duplicates(subset='screen_name', keep='first').head(20)
df_com_10_top_20 = df_com_10.drop_duplicates(subset='screen_name', keep='first').head(20)
df_com_11_top_20 = df_com_11.drop_duplicates(subset='screen_name', keep='first').head(20)
df_com_26_top_20 = df_com_26.drop_duplicates(subset='screen_name', keep='first').head(20)
df_com_40_top_20 = df_com_40.drop_duplicates(subset='screen_name', keep='first').head(20)

In [163]:
df_com_8_top_20

,screen_name,followers_count,modularity_class,main_text,retweet_text,tweet_date,PageRank,rt_count
263592,EcoSenseNow,58432,8.0,I will be on Tucker Carlson tonight 8 pm EST F...,NaN,Mon Mar 11 14:42:12 +0000 2019,0.000566,368
836804,ColumbiaBugle,100860,8.0,RT @ColumbiaBugle: The worst part about AOC an...,The worst part about AOC and Ilhan Omar is tha...,Sat Mar 09 16:54:53 +0000 2019,0.000328,626
1015463,MiaVendetta110,16119,8.0,RT @ColumbiaBugle: The worst part about AOC an...,The worst part about AOC and Ilhan Omar is tha...,Fri Mar 08 20:58:49 +0000 2019,0.000076,626
1209086,SteveSGoddard,30968,8.0,RT @SteveSGoddard: @AOC There doesn't seem to ...,@AOC There doesn't seem to be any topic which ...,Fri Mar 08 04:50:38 +0000 2019,0.000072,95
445039,Steve_Sailer,21784,8.0,I'm looking forward to 1/20/2029: President AO...,NaN,Sun Mar 10 23:23:29 +0000 2019,0.000066,82
1204857,MichelleRempel,83330,8.0,"If you have a chance, can you send a note to J...",NaN,Fri Mar 08 05:05:45 +0000 2019,0.000061,101
1522954,manny_ottawa,28576,8.0,Why doesnâ€™t @AOC who thinks planet will end in...,NaN,Thu Mar 07 01:04:37 +0000 2019,0.000054,102
1329028,RyanGirdusky,10730,8.0,RT @heatherscope: @dnewhauser @AOC UPDATE: Dem...,@dnewhauser @AOC UPDATE: Dems added language o...,Thu Mar 07 21:01:29 +0000 2019,0.000040,118
787647,breaufitz1,6,8.0,@knowledgemasta @EcoSenseNow @AOC You should s...,NaN,Sat Mar 09 22:40:20 +0000 2019,0.000032,93
164358,Prem_S,6972,8.0,RT @charliekirk11: Wow.\n\n@AOC seriously just...,Wow.\n\n@AOC seriously just called America â€œGa...,Mon Mar 11 19:50:39 +0000 2019,0.000032,10285
580383,GeneSohoForum,1994,8.0,"On the contrary, @AOC! Waitressing is intrinsi...",NaN,Sun Mar 10 16:40:04 +0000 2019,0.000032,18
1142022,CityBureaucrat,6139,8.0,RT @TheHirsty: **The U.S. is on track to have ...,"**The U.S. is on track to have 1,000,000 illeg...",Fri Mar 08 13:24:59 +0000 2019,0.000030,29
1287156,JohnRuddick2,3222,8.0,Iâ€™ve worked it out. @zalisteggall is the Alexa...,NaN,Thu Mar 07 23:43:50 +0000 2019,0.000028,45
289133,NikolovScience,7730,8.0,"RT @NikolovScience: The ""Green New Deal"" champ...","The ""Green New Deal"" championed by Ocasio-Cort...",Mon Mar 11 13:02:28 +0000 2019,0.000027,354
1146832,TheHirsty,1841,8.0,"**The U.S. is on track to have 1,000,000 illeg...",NaN,Fri Mar 08 13:04:04 +0000 2019,0.000022,29
155294,ApafarkasAgmand,976,8.0,RT @RedNationRising: Wow. @AOC called America ...,"Wow. @AOC called America ""Garbage""\n\nYou mean...",Mon Mar 11 20:16:18 +0000 2019,0.000021,482
1177325,BernieBernie72,535,8.0,@kerrynwentworth @drkerrynphelps @AOC Hey Kerr...,NaN,Fri Mar 08 08:59:00 +0000 2019,0.000021,19
619651,Libertyworld,16638,8.0,RT @Libertyworld: @MerriwetherW @EcoSenseNow @...,@MerriwetherW @EcoSenseNow @AOC I 'believe' a ...,Sun Mar 10 14:41:45 +0000 2019,0.000019,30
201636,purehategraphs,2644,8.0,Living paycheck to paycheck is your own fault....,NaN,Mon Mar 11 17:52:36 +0000 2019,0.000018,20
1450605,PMgeezer,33976,8.0,RT @charliekirk11: Tough week for @aoc:\n\nHer...,Tough week for @aoc:\n\nHer chief of staff was...,Thu Mar 07 10:01:55 +0000 2019,0.000018,14027

Pickling all of my community partitioned data, will begin work on topic modeling in new notebook

In [164]:
with open('/Users/robertpagano/src/metis_project_kojak/network_files/aoc/community_pickles_pre_nlp/df_0.pickle', 'wb') as to_write:
    pickle.dump(df_com_0, to_write)
    
with open('/Users/robertpagano/src/metis_project_kojak/network_files/aoc/community_pickles_pre_nlp/df_1.pickle', 'wb') as to_write:
    pickle.dump(df_com_1, to_write)
    
with open('/Users/robertpagano/src/metis_project_kojak/network_files/aoc/community_pickles_pre_nlp/df_2.pickle', 'wb') as to_write:
    pickle.dump(df_com_2, to_write)
    
with open('/Users/robertpagano/src/metis_project_kojak/network_files/aoc/community_pickles_pre_nlp/df_3.pickle', 'wb') as to_write:
    pickle.dump(df_com_3, to_write)
    
with open('/Users/robertpagano/src/metis_project_kojak/network_files/aoc/community_pickles_pre_nlp/df_4.pickle', 'wb') as to_write:
    pickle.dump(df_com_4, to_write)
    
with open('/Users/robertpagano/src/metis_project_kojak/network_files/aoc/community_pickles_pre_nlp/df_5.pickle', 'wb') as to_write:
    pickle.dump(df_com_5, to_write)
    
with open('/Users/robertpagano/src/metis_project_kojak/network_files/aoc/community_pickles_pre_nlp/df_6.pickle', 'wb') as to_write:
    pickle.dump(df_com_6, to_write)
    
with open('/Users/robertpagano/src/metis_project_kojak/network_files/aoc/community_pickles_pre_nlp/df_7.pickle', 'wb') as to_write:
    pickle.dump(df_com_7, to_write)
    
with open('/Users/robertpagano/src/metis_project_kojak/network_files/aoc/community_pickles_pre_nlp/df_8.pickle', 'wb') as to_write:
    pickle.dump(df_com_8, to_write)
    
with open('/Users/robertpagano/src/metis_project_kojak/network_files/aoc/community_pickles_pre_nlp/df_9.pickle', 'wb') as to_write:
    pickle.dump(df_com_9, to_write)
    
with open('/Users/robertpagano/src/metis_project_kojak/network_files/aoc/community_pickles_pre_nlp/df_10.pickle', 'wb') as to_write:
    pickle.dump(df_com_10, to_write)
    
with open('/Users/robertpagano/src/metis_project_kojak/network_files/aoc/community_pickles_pre_nlp/df_11.pickle', 'wb') as to_write:
    pickle.dump(df_com_11, to_write)
    
with open('/Users/robertpagano/src/metis_project_kojak/network_files/aoc/community_pickles_pre_nlp/df_26.pickle', 'wb') as to_write:
    pickle.dump(df_com_26, to_write)
    
with open('/Users/robertpagano/src/metis_project_kojak/network_files/aoc/community_pickles_pre_nlp/df_40.pickle', 'wb') as to_write:
    pickle.dump(df_com_40, to_write)